1) How-to-count-distance-to-the-previous-zero
For each value, count the difference back to the previous zero (or the start of the Series,
whichever is closer)
create a new column 'Y'
Consider a DataFrame df where there is an integer column 'X'
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [179]:
import numpy as np
import pandas as pd

In [180]:
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
y.cumsum()
x = (df['X'] != 0).cumsum()
y = x != x.shift()

df['y']=y.groupby((y != y.shift()).cumsum()).cumsum().astype('int')
print(df['y'])

0    1
1    2
2    0
3    1
4    2
5    3
6    4
7    0
8    1
9    2
Name: y, dtype: int64

2) Create a DatetimeIndex that contains each business day of 2015 and use it to index a
Series of random numbers.

In [181]:
dates = pd.bdate_range('2015-01-01', '2015-12-31')
s = pd.DataFrame(np.random.randn(dates.shape[0]), index=dates)
print (s)

                   0
2015-01-01  1.036911
2015-01-02 -0.606359
2015-01-05  0.392296
2015-01-06 -1.329042
2015-01-07  0.743367
2015-01-08 -0.445852
2015-01-09  0.643952
2015-01-12  1.083518
2015-01-13  0.399401
2015-01-14  0.396736
2015-01-15  0.420873
2015-01-16 -1.037292
2015-01-19 -0.111637
2015-01-20 -0.549382
2015-01-21  1.761623
2015-01-22 -0.084776
2015-01-23  1.159977
2015-01-26 -0.828722
2015-01-27 -1.555348
2015-01-28 -0.180150
2015-01-29  0.169674
2015-01-30 -1.603107
2015-02-02  1.572579
2015-02-03  1.013730
2015-02-04 -1.464370
2015-02-05  0.048605
2015-02-06 -0.603400
2015-02-09 -0.888938
2015-02-10 -0.205782
2015-02-11  2.332196
...              ...
2015-11-20  0.036048
2015-11-23  1.382535
2015-11-24 -0.833766
2015-11-25  1.140272
2015-11-26  0.542599
2015-11-27 -1.176094
2015-11-30  0.197997
2015-12-01  0.541505
2015-12-02  0.474306
2015-12-03  0.438577
2015-12-04 -1.392481
2015-12-07  1.114639
2015-12-08 -0.867687
2015-12-09  0.427688
2015-12-10  1.131409
2015-12-11  0.458638
2015-12-14 -2.115863
2015-12-15 -0.371582
2015-12-16  0.447929
2015-12-17 -0.468922
2015-12-18 -0.851831
2015-12-21  0.521972
2015-12-22 -0.279731
2015-12-23 -0.140208
2015-12-24 -0.727439
2015-12-25  0.305186
2015-12-28  0.795671
2015-12-29  0.703042
2015-12-30 -0.062594
2015-12-31 -0.338859

[261 rows x 1 columns]

3) Find the sum of the values in s for every Wednesday

In [182]:
s[dates.weekday==2].sum()

0    5.856218
dtype: float64

4) Average For each calendar month

In [183]:
s.resample('M').mean()

                   0
2015-01-31 -0.005606
2015-02-28  0.165721
2015-03-31  0.116765
2015-04-30  0.134948
2015-05-31 -0.072548
2015-06-30  0.063089
2015-07-31 -0.417517
2015-08-31  0.054866
2015-09-30  0.105031
2015-10-31  0.202856
2015-11-30  0.292460
2015-12-31 -0.011158

5) For each group of four consecutive calendar months in s, find the date on which the highest value occurred.

In [184]:
s.groupby(pd.Grouper(freq='4M')).idxmax()

                    0
2015-01-31 2015-01-21
2015-05-31 2015-03-19
2015-09-30 2015-09-21
2016-01-31 2015-10-15